.table {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.table__values {
	display: grid;
	grid-template-columns: 7% 28% 20% 16% 18% 11%;
}

.table__values__item {
	padding: 10px;
	overflow-wrap: break-word;
	border-top: solid 1px black;
	border-right: solid 1px black;
	display: flex;
	flex-direction: column;
}

.table__values__item:nth-child(1) {
	border-left: solid 1px black;
}

.table__values:nth-last-child(1) {
	border-bottom: solid 1px black;
}